body {
    background-color: #040404;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
    font-weight: 900;
    color: white;
}

html, body, head {
    /* Убирает прокрутку по горизонтале, для мобильной версии */
    overflow-x: hidden;
}

::selection {
    background: #c22085; /* Цвет фона */
    color: #fff; /* Цвет текста */
}

li {
    list-style-type: none; /* Убираем маркеры */
}

.largeText{
    font-size: 40px;
}

.middleText{
    font-size: 30px;
}

.smallText{
    font-size: 20px;
}

.purpleText{
    color:#c22085;
}

.blueText{
    color: #2d9687;
}

.brownText{
    color: #e9b171;
}

.largePic{
    display: inline;
}

.middlePic{
    display: none;
}

.smallPic{
    display: none;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

.menu li a{
    text-decoration: none;
    margin-left: 40px;
}

.nav{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.nav ul{
    display: flex;
}

.mainBox{
    margin-top: 100px;
    display: flex;
}

.box{
    width: 585px;
}

.mainText{
    margin-top: 250px;
    margin-bottom: 470px;
}

section{
    padding-top: 150px;
}

.aboutText p{
    margin-bottom: 50px;
    text-align: justify;
    margin-left: 70px;
}

.skillsText{
    margin-left: 70px;
    display: flex;
    justify-content: space-between;
}

.skillsText ul li p{
    margin-top: 50px;
}

.skillsText ul li p:hover{
    cursor: pointer;
    color: #c22085;
    transition: 0.6s;
}

.smallBox{
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.smallBox a{
    text-decoration: none;
    margin-left: 70px;
}

@keyframes infinite-rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.img-rotate {
    animation: infinite-rotate 20s linear infinite;
    position: absolute;
}

.img-rotate.particles.largePic{
    display: flex;
    animation: infinite-rotate 20s linear infinite reverse;
}

.img-rotate.particles.middlePic{
    display: none;
    animation: infinite-rotate 20s linear infinite reverse;
}

.img-rotate.particles.smallPic{
    display: none;
    animation: infinite-rotate 20s linear infinite reverse;
}

@media screen and (max-width: 1200px){
    .container{
        width: 800px;
    }

    .box{
        width: 400px;
    }

    .box.aboutText{
        width: 420px;
    }

    .largePic{
        display: none;
    }

    .middlePic{
        display: inline;
    }

    .img-rotate.particles.largePic{
        display: none;
    }

    .img-rotate.particles.middlePic{
        display: flex;
    }

    .aboutPic img{
        margin-top: auto;
    }


    .aboutText p{
        margin-bottom: 20px;
        text-align: inherit;
        margin-left: 70px;
    }

    .mainBox{
        margin-top: 150px;
    }

    .mainBox.info{
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .smallBox.info{
        margin: 30px 0px;
    }

    .mainText{
        margin-top: 150px;
        margin-bottom: 150px;
        font-size: 26px;
    }

    .skillsText ul li p{
        margin-top: 0px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 820px){
    .container{
        width: 768px;
    }

    .box{
        width: 384px;
    }

    .box.aboutText{
        width: 388px;
    }

    .largePic{
        display: none;
    }

    .middlePic{
        display: none;
    }
    
    .smallPic{
        display: inline;
    }

    .img-rotate.particles.largePic{
        display: none;
    }

    .img-rotate.particles.middlePic{
        display: none;
    }

    .img-rotate.particles.smallPic{
        display: flex;
    }

    .aboutPic img{
        margin-top: auto;
    }


    .aboutText p{
        margin-bottom: 20px;
        text-align: inherit;
        margin-left: 70px;
    }

    .mainBox{
        margin-top: 150px;
    }

    .mainBox.info{
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .smallBox.info{
        margin: 30px 0px;
    }

    .mainText{
        margin-top: 150px;
        margin-bottom: 150px;
        font-size: 26px;
    }

    .skillsText ul li p{
        margin-top: 0px;
        margin-bottom: 30px;
    }
}