body {
    background-color: #040404;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
    font-weight: 900;
    color: white;
}


::selection {
    background: #c22085; /* Цвет фона */
    color: #fff; /* Цвет текста */
}

li {
    list-style-type: none; /* Убираем маркеры */
}

.largeText{
    font-size: 40px;
}

.middleText{
    font-size: 30px;
}

.smallText{
    font-size: 20px;
}

.purpleText{
    color:#c22085;
}

.blueText{
    color: #2d9687;
}

.brownText{
    color: #e9b171;
}

ul li a{
  width: 200px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

a span{
    position: relative;
    z-index: 2;
  }

a:after{
	position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: all .35s;
}

.about a::after{
    background: #ff003b;
}

.skills a::after{
    background: #2d9687;
}

.contact a::after{
    background: #e9b171;
} 

a:hover:after{
    width: 100%;
  }

.largePic{
    display: inline;
}

.middlePic{
    display: none;
}

.smallPic{
    display: none;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

.menu li a{
    text-decoration: none;
    margin-left: 40px;
}

.nav{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.nav ul{
    display: flex;
}

.mainBox{
    margin-top: 100px;
    display: flex;
}

.mainBox.info{
    margin-bottom: 100px;
}

.box{
    width: 585px;
}

.mainText{
    margin-top: 250px;
    margin-bottom: 470px;
}

section{
    padding-top: 150px;
}

.aboutText p{
    margin-bottom: 50px;
    text-align: justify;
    margin-left: 70px;
}

.skillsText{
    margin-left: 70px;
    display: flex;
    justify-content: space-between;
}

.skillsText ul li p{
    margin-top: 50px;
}

.skillsText ul li p:hover{
    cursor: pointer;
    color: #c22085;
    transition: 0.6s;
}

.smallBox{
    margin: 25px 0px;
    display: flex;
    align-items: center;
}

.smallBox a{
    text-decoration: none;
    margin-left: 70px;
}

@keyframes infinite-rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.img-rotate {
    animation: infinite-rotate 20s linear infinite;
    position: absolute;
}

.img-rotate.particles.largePic{
    display: flex;
    animation: infinite-rotate 20s linear infinite reverse;
}

.img-rotate.particles.middlePic{
    display: none;
    animation: infinite-rotate 20s linear infinite reverse;
}

.img-rotate.particles.smallPic{
    display: none;
    animation: infinite-rotate 20s linear infinite reverse;
}

.smallBox a{
    margin: 0;
}

.smallBox a{
    display: flex;
    margin: 40px 70px;
    align-items: center;
    justify-content: space-between;
}

.smallBox.infoH{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 1200px){
    .container{
        width: 800px;
    }

    .box{
        width: 400px;
    }

    .box.aboutText{
        width: 420px;
    }

    .largePic{
        display: none;
    }

    .middlePic{
        display: inline;
    }

    .img-rotate.particles.largePic{
        display: none;
    }

    .img-rotate.particles.middlePic{
        display: flex;
    }

    .aboutPic img{
        margin-top: auto;
    }

    .aboutText p{
        margin-bottom: 20px;
        text-align: inherit;
        margin-left: 70px;
    }

    .mainBox{
        margin-top: 150px;
    }

    .mainBox.info{
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .smallBox.info{
        margin: 30px 0px;
    }

    .mainText{
        margin-top: 150px;
        margin-bottom: 150px;
        font-size: 26px;
    }

    .skillsText ul li p{
        margin-top: 0px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 820px){
    .container{
        width: 768px;
    }

    .box{
        width: 384px;
    }

    .box.aboutText{
        width: 388px;
    }

    .largePic{
        display: none;
    }

    .middlePic{
        display: none;
    }
    
    .smallPic{
        display: inline;
    }

    .img-rotate.particles.largePic{
        display: none;
    }

    .img-rotate.particles.middlePic{
        display: none;
    }

    .img-rotate.particles.smallPic{
        display: flex;
    }

    .menu li a{
        text-decoration: none;
        margin-left: 20px;
    }

    .smallBox a{
        margin: 0;
    }

    .smallBox a{
        display: flex;
        margin: 40px 70px;
        align-items: center;
        justify-content: space-between;
    }

    .smallBox.infoH{
        display: flex;
        justify-content: space-between;
    }

}

@media screen and (max-width: 768px) {

    .container{
        width: 585px;
        justify-content: center;
    }

    .box{
        width: 585px;
    }

    .mainBox{
        display: block;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 600px;
    }

    .mainText{
        margin: 0;
        text-align: center;
    }

    .largePic{
        display: flex;
    }

    .aboutPic{
        display: none;
    }

    .middlePic{
        display: none;
    }
    
    .smallPic{
        display: none;
    }

    .img-rotate.particles.largePic{
        display: flex;
    }

    .img-rotate.particles.middlePic{
        display: none;
    }

    .img-rotate.particles.smallPic{
        display: none;
    }

    .skillsText{
        display: flow-root;
        justify-content: center;
    }

    .box.aboutText{
        width: 585px;
    }
    .box.aboutText p{
        text-align: justify;
    }
    .menu li a{
        text-decoration: none;
        margin-left: auto;
    }
    .main{
        display: none;
    }


    .smallBox a{
        margin: 0;
    }

    .smallBox a{
        display: flex;
        margin: 40px 70px;
        align-items: center;
        justify-content: space-between;
    }

    .smallBox.infoH{
        display: flex;
        margin-left: 0 0 0 70px;
        justify-content: space-between;
    }

}

@media screen and (max-width: 585px) {

    .container{
        width: 400px;
    }

    .box{
        width: 400px;
    }

    .largePic{
        display: none;
    }

    .middlePic{
        display: flex;
    }
    

    .img-rotate.particles.largePic{
        display: none;
    }

    .img-rotate.particles.middlePic{
        display: flex;
    }

    .box.aboutText{
        width: 200px;
    }

    .box.aboutText p{
        margin-left: 30px;
        width: 350px;
    }

    .mainBox{
        margin-bottom: 500px;
    }

    .refPic{
        width: 70px;
        height: 70px;
    }

    .smallBox a{
        margin: 0;
    }

    .smallBox a{
        display: flex;
        margin: 40px 0px;
        align-items: center;
        justify-content: space-between;
        font-size: 20px;
    }

    .smallBox.infoH{
        display: flex;
        align-items: center;
        margin-left: 0 0 0 30px;
        justify-content: space-between;
    }

    .smallBox{
        width: 350px;
    }
}

@media screen and (max-width: 400px) {
    .container{
        width: 360px;
    }

    .box {
        width: 360px;
    }

    .smallPic{
        display: flex;
    }

    .middlePic{
        display: none;
    }
    
    .smallBox.info{
        margin-left: 30px;
        width: 270px;
    }

    .img-rotate.particles.smallPic{
        display: flex;
    }

    .img-rotate.particles.middlePic{
        display: none;
    }

    .box.aboutText p{
        width: 300px;
    }
}